div{
    height: 500px;
    width: 300px;
    background-color: aqua;
    overflow-x: scroll;
    overflow-y: scroll;
}
p{
    width: 400px;
    background-color: black;
    color: #fff;
    font-size: 25px;
    margin: 20px;
    padding: 30px;
}